<template lang="html">
  <div class="frame">
    <h1>Frame</h1>
    <div v-if="!valid">
      Your URL is invalid! Go to <router-link to="/qr">QR code</router-link> to set your URL.
    </div>
    <iframe v-if="valid" :src="url" width="100%" height="500px"></iframe>
  </div>
</template>

<script>
import { isEmpty, get } from 'lodash'
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'frame',
  computed: mapState(['url', 'valid'])
}
</script>

<style lang="scss">
  .frame {

  }
</style>
