<template lang="html">
  <div class="home">
    <h1>{{ name }}</h1>
    <h2>{{ programm }}</h2>
    <img :src="meme" alt="Meme"/>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      name: 'Simon Thiboutôt',
      programm: 'IFT',
      meme: 'https://wrcespinozahernandez.files.wordpress.com/2015/06/frabz-computer-science-major-what-my-friends-think-i-do-what-my-mom-th-15685d.jpg'
    }
  }
}
</script>

<style lang="scss">
  .home {

  }
</style>
