<template lang="html">
  <div class="qr">
    <h1>QR code</h1>
    <input
      class="qr_url-input"
      :class="inputClasses"
      :value="url"
      @input="handleInput"
      name="url"
      placeholder="Url"
      type="text">

    <div v-if="fetching == false && valid">
      <button class="qr_button" @click="handleClick" type="button" name="button">Generate QR code</button>

      <div class="flip-container" :class="{ hover: generate }">
        <div class="flipper">
          <div class="front">

          </div>
          <div class="back">
            <img :src="qr" alt="Qr">
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { isEmpty, get } from 'lodash'
import { mapState, mapMutations } from 'vuex'
import axios from 'axios'

export default {
  name: 'qr',
  data: function () {
    return {
      generate: false,
      fetching: false
    }
  },
  computed: Object.assign(
    mapState([
      'url', 'valid'
    ]),{
    inputClasses () {
      const modifiers = []
      if (this.valid) modifiers.push('valid')
      return modifiers.map(modifier => `qr_url-input_${modifier}`)
    },
    qr () {
      const url = encodeURIComponent(this.url)
      return `https://chart.googleapis.com/chart?cht=qr&chl=${url}&chs=200x200&chld=L%7C0`
    }
  }),
  methods: Object.assign(
    mapMutations([
      'setUrl', 'setValid'
    ]),{
    handleClick () {
      this.generate = true
    },
    handleInput (event) {
      this.generate = false
      this.setValid(false)
      const url = event.target.value
      this.setUrl(url)
      if (isEmpty(url)) return
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.validateUrl(url)
        this.setUrl(url)
      }, 300);
    },
    validateUrl(url) {
      this.setValid(false)
      this.fetching = true

      axios.get(url)
        .then((response) => {
          if (!response.status === 200) throw new Error('Invalid url')
          this.setValid(true)
          this.fetching = false
        })
        .catch((error) => {
          console.error(error)
          this.fetching = false
        })
    }
  })
}
</script>

<style lang="scss">

  .qr_url-input {
    margin-top: 10px;
    padding: 5px;
    width: 250px;
  }

  .qr_button {
    margin-top: 10px;
  }

  .qr_url-input_valid {
    background: #3dffa7;
  }

  .flip-container {
    margin-top: 10px;
    // display: flex;
    // justify-content: center;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	// border: 1px solid #ccc;
}

	// .flip-container:hover .flipper,
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
  width: 100%;
  height: 50%;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	background: white;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
}

.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.back-logo {
	position: absolute;
	top: 40px;
	left: 90px;
	width: 160px;
	height: 117px;
	background: white;
}

.back-title {
	font-weight: bold;
	color: #00304a;
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-family: Courier;
	font-size: 2em;
}

.back p {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}
</style>
