<template lang="html">
  <nav class="app-nav">
    <ul>
     <li>
        <router-link to="/">Home</router-link>
     </li>
     <li>
       <router-link to="/qr">QR Code</router-link>
     </li>
     <li>
       <router-link to="/frame">Frame</router-link>
    </li>
   </ul>
  </nav>
</template>

<script>
export default {
  name : 'app-nav'
}
</script>

<style lang="scss">
.app-nav {
  // .router-link-active {
  .router-link-exact-active {
    color: black;
  }
}
</style>
